<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="connection" type="Omikron.FactFinder.Core.Configuration.ConnectionSection, Nop.Custom"/>
    <section name="parameters" type="Omikron.FactFinder.Core.Configuration.ParametersSection, Nop.Custom"/>
    <section name="modules" type="Omikron.FactFinder.Core.Configuration.ModulesSection, Nop.Custom"/>
    <section name="fields" type="Omikron.FactFinder.Core.Configuration.FieldsSection, Nop.Custom"/>
  </configSections>
  <!--channel="auner_produkte"-->
  <!--nopcom4_produkte-->
  <connection
      protocol="Http"
      address="10.12.3.71"
      port="8081"
      context="1000PS"
      channel="nopcom4_produkte"  
      language="de"
    >
    <authentication
        type="Advanced"
        username="suchservice_tps"
        password="lohMahsuiGh3"
        advancedPrefix="FACT-FINDER"
        advancedPostfix="FACT-FINDER"
        />
  </connection>

  <modules
    tracking="true"
    suggest="true"
    tagcloud="true"
    similarrecords="true"
    recommendations="true"
    campaigns="true" />

  <fields
    recordId="ArticleNumber"
    productNumber="ArticleNumber"
    masterProductNumber="ArticleNumber"
    masterProduktID = "MasterProduktID"
    productName="Name"
    ean="EAN"
    brand="Brand"
    price="Preis"
    normalPrice="NormalPreis"
    description="Description"
    imageUrl="ImageURL"
    deeplink="ProduktURL"
    ProduktURL="ProduktURL"
    BildURL="BildURL"/>

  <parameters>
    <!-- parameter settings for the server -->
    <server>
      <ignore>
        <add name="password" />
        <add name="username" />
        <add name="timestamp" />
      </ignore>
      <mapping>
        <add name="keywords" mapTo="query" />
      </mapping>
    </server>

    <!-- parameter settings for the client -->
    <client>
      <ignore>
        <add name="xml" />
        <add name="format" />
        <add name="channel" />
        <add name="password" />
        <add name="username" />
        <add name="timestamp" />
      </ignore>
      <mapping>
        <add name="query" mapTo="keywords" />
      </mapping>
    </client>
  </parameters>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
</configuration>